* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
/* header style */
  #header {
    margin: 0 auto 50px auto;
    width: 100%;
    padding: 30px;
    color: #ffffff;
    background: #86128a;
    border-bottom: 3px solid #00a8e8;
    text-align: center;
  }
/* body style */
body div {
  padding:0;
  margin:0;
  display: flex;  
  width: 100vw;
  justify-content: center;
  align-items: center;
}
/* answer button styles */
.btn-grid{
  display:grid;
  grid-template-columns: repeat(2, auto);
  margin: 20px 0;
}

.btn{
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(132, 167, 221));
  border: 1px solid black;
}

.hide {
  display: none;
}
